html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
max-width: 100vw;
margin: 0 auto;
}
video{
    object-fit: cover;
    transition: 0.3s;
}
.app{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.header{
    background: rgb(253, 253, 253);
    box-shadow: 0px 2px 20px 0px black;
    z-index: 5;
}
.header-container{ 
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
}

.main{
    height: 100%;
    position: relative;
}

.main-container{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    height: 100%;
    transition: .3s;
}


.player-panel{
    width: 1280px;
    height: 720px;
    position: relative;
    background: black;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
}
.video-palyer{
    width: 100%;
    height: 100%;
    transition: 1s;
}
.player-panel-navigation{
    position: absolute;
    bottom: 0;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95.5%;
    /*margin: 0 20px 5px;
    border-radius: 5px;
    background: rgb(119 113 203 / 42%);*/
    padding: 3px 13px 0;
}

.player-panel-navigation-left{
    display: flex;
    align-items: center;
    height: 36px;
}

.player-panel-navigation-right{
    display: flex;
    align-items: center;
}

.timer-all-curent{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 0%;
    letter-spacing: 0.01em;
    color: #eaeaea;
    display: flex;
    align-items: center;
}

.timer-curent{
    margin-right: 5px;
}

.timer-all{

}

.timer-all::before{
    content:'/';
    margin-right: 5px;
}

.scroll-timer{
    width: 97%;
    -webkit-appearance: none;
    -moz-appearance: none;
    left: 15px;
    bottom: 40px;
    appearance: none;
    position: absolute;
}

.value-panel{
    display: flex;
    margin: 0 20px;
    align-items: center;
    width: 20px;
    overflow: hidden;
    transition: 0.3s;
    cursor: pointer;
}

.value-panel:hover{
    width: 135px;
    transition: 0.3s;
}


.value-icon{
    margin-right: 15px;
}
.scroll-value{
    width: 100px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.footer{
    background: rgb(255, 255, 255);
    box-shadow:inset 0px -5px 20px 4px rgba(0, 0, 0, .5);
}

.footer-container{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.logo{
    width: 64px;
}


.github{
    color: rgb(0, 0, 0);
    font-size: 16px;
}

.githubImg{
    width: 64px;
}

.title{
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:26px;
    cursor: pointer;
}

.panel-navigation{
    display: flex;
    align-items: center;
}

.navigation-prev{
    background-image: url('./assets/img/ico-prev.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 14px;
    height: 16px;
    cursor: pointer;
    margin-right: 28px;
}

.navigation-play-pause{
    background-image: url('./assets/img/ico-play.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 16px;
    height: 20px;
    cursor: pointer;
    margin-right: 25px;

}


.navigation-next{
    background-image: url('./assets/img/ico-next.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 14px;
    height: 16px;
    cursor: pointer;
}

.fullscreen-elem{
    margin-left: 17px;
    cursor: pointer;
}
.fullscreen-elem:hover{
    transform: scale(1.3);
    transition: 0.3s;
}
.theater-elem{
    margin-left: 15px;
    cursor: pointer;
}
.titles-elem{
    
    cursor: pointer;
}
.tv-elem{
    margin-left: 13px;
    cursor: pointer;
}
.setting-elem{
    margin-left: 20px;
    cursor: pointer;
}

.play-button-elem{
    position: absolute;
    top: 47%;
    left: 47%;
    cursor: pointer;
}
.hidden-btn{
    visibility: hidden;
}

input[type=range]::-webkit-slider-runnable-track {
    border-radius: 10px;
    border: 1px solid black;
    height: 4px;
    margin: 0 -1px;
    background-color: rgba(62, 57, 57, 0.31);
}
input[type=range]::-webkit-slider-thumb {
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    width:13px;
    height: 13px;
    -webkit-appearance: none;
    margin-top: -5px;
}

input[type=range]::-moz-range-track {
    border-radius: 10px;
    border: 1px solid black;
    height: 4px;
    background-color:  rgba(78, 205, 15, 0.31);
}
input[type=range]::-moz-range-thumb {
    background:  rgba(20, 207, 98, 0.31);
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
}


